# Number @ end is the root zone
domain fidonet /home/pygate/data/out 3

address 1:234/10@fidonet

sysname "FTN<->Usenet Gate"
location "Tullamarine, Melbourne"
sysop "Stephen Walsh"

nodeinfo 115200,TCP,BINKP
try 10
hold 600
send-if-pwd
deletedirs
log /home/pygate/data/logs/binkd.log
loglevel 4
conlog 4
percents
printq
backresolv
maxservers 5
maxclients 5
kill-dup-partial-files
kill-old-partial-files 1d
kill-old-bsy 2h

inbound /home/pygate/data/inbound
inbound-nonsecure /home/pygate/data/in
temp-inbound /home/pygate/data/temp

minfree 2048
minfree-nonsecure 2048

kill-dup-partial-files
kill-old-partial-files 86400

prescan

node 1:234/280@fidonet -md 10.0.0.1 sheep i /home/pygate/data/outbound/ /home/pygate/data/inbound/

pid-file /home/pygate/data/logs/binkd.pid

# nuke old .bsy/.csy files after 24 hours
kill-old-bsy 43200

